
      <input type="text"  class="form-control" [(ngModel)]="username"/>
      <button class="btn-primary"  (click)="username=''" [disabled]="username===''">Reset</button>
 
      <h2>
        {{username}}
      </h2>




