<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Welcome to my {{title}}</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">        
            <app-succsess-alert></app-succsess-alert>
            <app-warning-alert></app-warning-alert>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">        
            <app-form></app-form>
        </div>
    </div>
    <div class="row">
            <div class="col-md-3">
                <app-paragraph></app-paragraph>     
            </div>
        </div>
</div>